services:
  dev:
    container_name: pctasks-dev
    image: pctasks-dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/opt/src
    environment:
      - PCTASKS_CLIENT__ENDPOINT=http://nginx/tasks
      - PCTASKS_CLIENT__API_KEY=hunter2
      - PCTASKS_CLIENT__CONFIRMATION_REQUIRED=False

      # Server API access key
      - PCTASKS_SERVER__ACCESS_KEY=access-key-test

      # Dev executor settings
      - PCTASKS_RUN__TASK_RUNNER_TYPE=local
      - PCTASKS_RUN__LOCAL_DEV_ENDPOINTS_URL=http://local-dev-endpoints:8512
      - PCTASKS_RUN__LOCAL_SECRETS=true
      - PCTASKS_RUN__WORKFLOW_RUNNER_TYPE=local

      # Streaming settings
      # These are unused in the local dev environment, which uses azurite.
      - PCTASKS_RUN__STREAMING_TASKIO_SP_TENANT_ID=""
      - PCTASKS_RUN__STREAMING_TASKIO_SP_CLIENT_ID=""
      - PCTASKS_RUN__STREAMING_TASKIO_SP_CLIENT_SECRET=""

      # Dev storage settings
      - AZURITE_HOST=azurite
      - AZURITE_PORT=10000
      - AZURITE_STORAGE_ACCOUNT=devstoreaccount1

      # Cosmos DB settings
      - COSMOSDB_EMULATOR_HOST=cosmosdb
      - PCTASKS_COSMOSDB__URL=${PCTASKS_COSMOSDB__URL:-https://cosmosdb:8081/}
      - PCTASKS_COSMOSDB__KEY=${PCTASKS_COSMOSDB__KEY:-C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==}
      - PCTASKS_COSMOSDB__TEST_CONTAINER_SUFFIX

      # Local secrets provider secrets
      - SECRETS_DB_CONNECTION_STRING=postgresql://username:password@database:5432/postgis

      # Run settings #######################################################

      ## Azure Storage

      ### Queues
      - PCTASKS_RUN__NOTIFICATION_QUEUE__CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;QueueEndpoint=http://azurite:10001/devstoreaccount1;
      - PCTASKS_RUN__INBOX_QUEUE__CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;QueueEndpoint=http://azurite:10001/devstoreaccount1;

      ### Tables
      - PCTASKS_RUN__TABLES_ACCOUNT_URL=http://azurite:10002/devstoreaccount1
      - PCTASKS_RUN__TABLES_ACCOUNT_NAME=devstoreaccount1
      - PCTASKS_RUN__TABLES_ACCOUNT_KEY=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==

      ### Blobs
      - PCTASKS_RUN__BLOB_ACCOUNT_URL=http://azurite:10000/devstoreaccount1
      - PCTASKS_RUN__BLOB_ACCOUNT_NAME=devstoreaccount1
      - PCTASKS_RUN__BLOB_ACCOUNT_KEY=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==

      # Router settings ##############################################################

      ## Azure Storage

      ### Queues
      - PCTASKS_ROUTER__QUEUES_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;QueueEndpoint=http://azurite:10001/devstoreaccount1;

      ### Tables
      - PCTASKS_ROUTER__TABLES_ACCOUNT_URL=http://azurite:10002/devstoreaccount1
      - PCTASKS_ROUTER__TABLES_ACCOUNT_NAME=devstoreaccount1
      - PCTASKS_ROUTER__TABLES_ACCOUNT_KEY=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==

      # Notifications settings #######################################################

      ## Azure Storage

      ### Tables

      - PCTASKS_NOTIFICATIONS__TABLES_ACCOUNT_URL=http://azurite:10002/devstoreaccount1
      - PCTASKS_NOTIFICATIONS__TABLES_ACCOUNT_NAME=devstoreaccount1
      - PCTASKS_NOTIFICATIONS__TABLES_ACCOUNT_KEY=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==

  integration-tests:
    container_name: pctasks-integration-tests
    image: pctasks-dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/opt/src
    environment:
      - PCTASKS_CLIENT__ENDPOINT=http://host.docker.internal:8500/tasks
      - PCTASKS_CLIENT__API_KEY=kind-api-key
      - PCTASKS_CLIENT__CONFIRMATION_REQUIRED=False

      # Dev storage settings
      - AZURITE_HOST=azurite
      - AZURITE_PORT=10000
      - AZURITE_STORAGE_ACCOUNT=devstoreaccount1

      # Database connection string to bring up temp dbs
      - DEV_DB_CONNECTION_STRING=postgresql://username:password@database:5432/postgis

    extra_hosts:
      - host.docker.internal:host-gateway

networks:
  default:
    name: pctasks-network
