flake8==4.*
black==22.*
mypy==0.982
pytest==6.*
isort==5.*
pytest-asyncio==0.18.*

planetary-computer
pystac[validation]==1.*

azure-functions
azure-functions-durable
responses

# Mypy stubs

types-cachetools
types-chardet
types-requests
types-six
types-urllib3<1.27
types-python-dateutil
types-ujson
types-PyYAML

myst-parser
pydata-sphinx-theme
sphinx
sphinx-autobuild==2021.3.14
sphinx_design==0.2.0