flake8==7.1.0
black==25.1.0
mypy==1.15.0
pytest==8.4.1
isort==5.*
pytest-asyncio==0.18.*
kubernetes

planetary-computer
pystac[validation]==1.10.1

azure-functions
azure-functions-durable
responses

# Mypy stubs

types-cachetools
types-chardet
types-requests
types-six
types-urllib3<1.27
types-python-dateutil
types-ujson
types-PyYAML

pydata-sphinx-theme
sphinx
sphinx-autobuild
sphinx_design
