{{- if .Values.pcingress.ingress.enabled -}}
{{- $fullName := include "pcingress.fullname" . -}}
{{- if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "pcingress.labels" . | nindent 4 }}
  {{- with .Values.pcingress.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  tls:
  - hosts:
    - {{ .Values.pcingress.ingress.tlsHost }}
    secretName: {{ .Values.pcingress.cert.secretName }}
  rules:
  {{- range .Values.pcingress.ingress.hosts }}
    - host: {{ . }}
      http:
        paths:
          - path: {{ $.Values.pcingress.services.pctasks.path }}
            pathType: Exact
            backend:
              service:
                name: {{ $.Values.pcingress.services.pctasks.name }}
                port:
                  number: {{ $.Values.pcingress.services.pctasks.port }}
          - path: {{ $.Values.pcingress.services.argo.path }}
            pathType: Exact
            backend:
              service:
                name: {{ $.Values.pcingress.services.argo.name }}
                port:
                  number: {{ $.Values.pcingress.services.argo.port }}
  {{- end }}
{{- end }}