services:
  deploy:
    container_name: pc-etl-deploy
    image: pc-etl-deploy
    build:
      context: ..
      dockerfile: deployment/Dockerfile
    environment:
      # For Terraform
      - TF_VAR_username=${USER}
      - ARM_SUBSCRIPTION_ID=${AZURE_SUBSCRIPTION_ID}
      - ARM_TENANT_ID=${AZURE_TENANT_ID}
      - ARM_CLIENT_ID=${AZURE_CLIENT_ID}
      - ARM_CLIENT_SECRET=${AZURE_CLIENT_SECRET}

      # For Azure CLI
      - AZURE_TENANT_ID=${AZURE_TENANT_ID}
      - AZURE_CLIENT_ID=${AZURE_CLIENT_ID}
      - AZURE_CLIENT_SECRET=${AZURE_CLIENT_SECRET}

      # Used in function deployment injected by GH Actions
      - GITHUB_TOKEN
      - GITHUB_REPOSITORY
      - GITHUB_ACTOR

    working_dir: /opt/src/deployment
    volumes:
      - ../deployment:/opt/src/deployment
      - ../pctasks:/opt/src/pctasks:ro
      - ../pctasks_funcs:/opt/src/pctasks_funcs:ro
