name: Planetary Computer Tasks PR CI

on:
  pull_request:

env:
  PCTASKS_COSMOSDB__URL: ${{ secrets.COSMOSDB_URL }}
  PCTASKS_COSMOSDB__KEY: ${{ secrets.COSMOSDB_KEY }}
  PCTASKS_COSMOSDB__TEST_CONTAINER_SUFFIX: ${{ github.run_id }}

jobs:
  pr-build-and-test:

    runs-on: 	ubuntu-22.04

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Install local dependencies
        run: ./scripts/install

      - name: Setup
        run: ./scripts/setup --no-aux-servers

      - name: Test
        run: ./scripts/test

      # Integration Tests

      - name: Install Kind
        uses: helm/kind-action@deab45fc8df9de5090a604e8ec11778eea7170bd
        with:
          install_only: true
        if: ${{ github.base_ref  == 'main' }}

      - name: Install Helm
        uses: azure/setup-helm@v1
        if: ${{ github.base_ref  == 'main' }}

      - name: Setup cluster
        run: ./scripts/cluster setup
        if: ${{ github.base_ref  == 'main' }}

      - name: Run integration tests
        run: ./scripts/citest-integration
        if: ${{ github.base_ref  == 'main' }}

      - name: Clean up CosmosDB test containers
        run: ./scripts/setup --rm-test-containers
        if: always()
